body{
    background-color: black;
}
.listProducts{
    border: 1px black solid;
    background-color: aqua;
}
.img{
    width: 10px;
}
.titulo{
    font-size: 50px;
}
.productForm{
    display: flex;
    flex-direction: column;
}