<!-- con esto incluye otro archivo ejs -->
<%- include('./partials/head')  %> 
<body >
<% if (productosArray.length === 0) { %>
<h1>No hay productos</h1>
<% }else{ %>
    <table class="listProducts">
        <tr>
        <th class="text">Título</th>
        <th class="text ">Precio</th>
        <th class="text ">Imágen</th>
        </tr>
    <% productosArray.forEach(producto => { %>
        <tr>
            <td class="style borde"><%= producto.title %></td>
            <td class="style borde"><%= producto.price %> </p></td>
            <td class="borde"><img class="img" src=<%= producto.thumbnail  %>  alt=""></td>
            </tr>
    <% }) %>
</table>
<% } %> 
<a href="http://localhost:8080"><button class="btnProducts">Agregar productos</button>
</a>
</body>
