<!-- Aca dentro puede estar los link, titulos etc. Sin necesidad de repetir en todas las vistas -->
<head>
    <meta charset="UTF-8">
    <title>Sitio web EJS</title>
    <link rel="stylesheet" href="./css/style.css">
</head>