<%- include('../views/partials/head')  %> 
<body>
    <h1>Productos</h1>
    <form id="productForm">
        <label class="textForm">Titulo</label>
        <input type="text" name="title" style="padding:3px">
        <label class="textForm">Precio</label>
        <input type="number" name="price" style="padding:3px">
        <label class="textForm">Portada</label>
        <input type="text" name="thumbnail" >
        <button type="submit" class="enviar">Enviar</button>
    </form>
    <a href="http://localhost:8080/productos"><button class="btnProducts">Ver productos</button>
    </a>
    <a href="http://localhost:8080/chat"><button class="btnProducts">Ir al chat</button>
    </a>
</body>
<script src="index.js"></script>
</html>